extends ../layout

block lead
  h2 My Very Own Blog

block content
  for article in articles

    .row
      div.blog-post
        .col-sm-12
          .col-xs-2
            p.date=article.published.short.month
              span=article.published.short.year
          .col-xs-10
            a.title(href=article.url)
              h3=article.headline

            !=article.description
