extends ../layout

block lead
  h2.lead.blog-description My Very Own Blog

block content
  for article in articles

    div.blog-post
      h2.blog-post-title
        a(href="/blog/" + article.slug)=article.headline
      p.blog-post-meta=article.published.long
      !=article.body

