extends ../layout

block lead
  h2.blog-post-title
    a(href="/blog/" + article.slug)=article.headline

block content

  div.blog-post
    p.blog-post-meta=article.published
    !=article.body

append scripts
  !=article.scripts
