extends ../layout
block content

  div.blog-post
    h2.blog-post-title
      a(href="/blog/" + article.slug)=article.headline
    p.blog-post-meta=article.published
    !=article.body

append scripts
  !=article.scripts
