block footer

  .blog-footer
    .row

      .col-sm-4
        h3 Hello
        p My name is Luke. I am a freelance web and games developer. I will help you build great experiences in the digital world.

      .col-sm-4
        h3 Get in touch
        ul
          li
            a.twitter(href="https://twitter.com/lukewilde") Twitter
          li
            a.linkedin(href="http://uk.linkedin.com/in/lwilde1") LinkedIn
          li
            a.email(mailto="luke.wilde@gmail.com") Email
          li
            a.github(href="http://www.github.com/lukewilde") Github

      .col-sm-4
        h3 Consumables
        ul
          li
            a.cv(href=properties.siteUrl + "/cv") CV
          li
            a.rss(href=properties.siteUrl + "/rss") RSS

    p.disclaimer &copy; Luke Wilde. All rights reserved
