block footer

  .blog-footer
    .row

      .col-sm-4
        h3 Hello
        p My name is Luke. I am a freelance web and games developer. I will help you build great experiences in the digital world.

      .col-sm-4
        h3 Get in touch
        ul
          li
            a.twitter(href="https://twitter.com/lukewilde")
              strong Twitter
          li
            a.linkedin(href="http://uk.linkedin.com/in/lwilde1")
              strong LinkedIn
          li
            a.email(mailto="luke.wilde@gmail.com")
              strong Email
          li
            a.github(href="http://www.github.com/lukewilde")
              strong Github

      .col-sm-4
        h3 Consumables
        ul
          li
            a.cv(href=properties.siteUrl + "/cv")
              strong CV
          li
            a.rss(href=properties.siteUrl + "/rss")
              strong RSS

    span &copy; Luke Wilde. All rights reserved
