extends layout
block content
  .splash
    p.label LEGO Friends: Ranch
    img(src="/images/lego-friends.png")

  .row.blog-stubs
    .row
      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

    .row
      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

    .row
      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

      .col-sm-6
        .col-sm-4
          p.date 03/JUL
            span 2014
        .col-sm-8
          p.title Generating Sequences of Random Numbers Using the Logistic Map

