doctype
html

  include bits/ascii

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    meta(name="msapplication-TileColor", content="#da532c")

    link(rel='stylesheet', href='/css/front-end/index.css')

    block title
      title #{properties.title}

  body

    header.container
      .row.clear
        .col-sm-7.header-title
          a(href='/')
            img.logo(src="/images/noodles.svg", alt="site's logo, some noodles")
          h1.blog-title
            a(href='/') Luke Wilde
              span Web & Games Programmer


        .col-sm-5.nav-container
          ul.nav.navbar-nav
            li
              a(href='/portfolio') Portfolio
            li
              a(href='/blog') Blog

    .title-container
      svg(width="100%", height="12px", viewBox="0 0 100 10", version="1.1", preserveAspectRatio="none", xmlns="http://www.w3.org/2000/svg")
        polygon(points="0 0, 100 10, 0 10", fill="#f5f5f5")

      .lead
        .container
          block lead
            h2 A freelance programmer who helps people create digital experiences

      svg.lead-svg(width="100%", height="25px", viewBox="0 0 100 10", version="1.1", preserveAspectRatio="none", xmlns="http://www.w3.org/2000/svg")
        polygon(points="0 0, 100 0, 0 10", fill="#f5f5f5")

    .container
      .row.clear
        block content-container
          .col-sm-12.blog-main
            block content

    include footer

    block scripts
      script(src="/js/lib/jquery-2.1.1.min.js")

      include bits/ga.jade
