doctype
html
  include bits/ascii
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/front-end/index.css')

    title Luke Wilde | Games Programmer

  body

    .container
      .row.clear
        .col-sm-5
          h1.blog-title
            a(href='/') Luke Wilde

          p.lead.blog-description Web and Games Programmer.

        .col-sm-6
          ul.nav.navbar-nav.ding(role="navigation")
            li
              a(href='/blog') Blog
            li
              a(href='/portfolio') Portfolio
            li
              a(href='/labs') Labs

      .row.clear
        .col-sm-8.blog-main
          block content

        .col-sm-3.col-sm-offset-1.blog-sidebar
          block side-bar
            .sidebar-module.sidebar-module-inset
              h4 Widget
              p Malesuada a lacinia sit amet, dapibus in odio. Quisque blandit ligula a mauris auctor, vitae elementum diam rhoncus. Suspendisse venenatis nisl molestie, fermentum sem me.

            .sidebar-module
              h4 List of stuff
              ol
                li January 2014
                li December 2013
                li November 2013
                li October 2013
                li September 2013
                li August 2013
                li July 2013

    block footer

      .blog-footer

        span &copy;
          strong Luke Wilde.
          |  All rights reserved

        ul.contact
          li
            a.twitter(href="https://twitter.com/lukewilde")
              strong Twitter
          li
            a.email(mailto="luke.wilde@gmail.com")
              strong Email
          li
            a.cv(href="http://lukewilde.co.uk/rss")
              strong CV
          li
            a.rss(href="http://lukewilde.co.uk/cv")
              strong RSS

  block script
    script(src="/js/lib/jquery-2.1.1.min.js")

    include bits/ga.jade
