doctype
html

  include bits/ascii

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/front-end/index.css')

    title=properties.title

  body

    .container
      .row.clear
        .col-sm-2
          img(src="/images/noodles.png")
        .col-sm-4.header-title
          h1.blog-title
            a(href='/') Luke Wilde
              span Web & Games Programmer


        .col-sm-6
          ul.nav.navbar-nav(role="navigation")
            li
              a(href='/portfolio') Portfolio
            li
              a(href='/blog') Blog

      div.lead
        block lead
          h2.blog-description A freelance web and games developer who helps people build great digital experiences.

      .row.clear
        block content-container
          .col-sm-12.blog-main
            block content

      include footer

  block scripts
    script(src="/js/lib/jquery-2.1.1.min.js")

    include bits/ga.jade
