extends layout

block lead
  h2.lead.blog-description Login

block content-container

  .col-sm-4.blog-main
  .col-sm-5.blog-main

    block content

      div.panel.panel-default(class=failedAttempt ? "panel-danger" : "").login
        div.panel-body

          form.serious-login(action="/login", method="post", role="form", style="display:none")
            .form-group
              label(for="username") Username
              input.form-control(type="text", name="username", placeholder="Username")

            .form-group
              label(for="password") Password
              input.form-control(type="password", name="password", placeholder="Password")

            button.btn.btn-primary(type="submit") Login

          form.key-pad
            .form-group
              .form-group
                input.form-control(type="text", name="gtfo", placeholder=">")
              .container-fluid
                .row
                  .col-xs-4
                    button(type="button").btn.btn-default Fuck
                  .col-xs-4
                    button(type="button").btn.btn-default Flaps
                  .col-xs-4
                    button(type="button").btn.btn-default The
                .row
                  .col-xs-4
                    button(type="button").btn.btn-default Cunt
                  .col-xs-4
                    button(type="button").btn.btn-default Your
                  .col-xs-4
                    button(type="button").btn.btn-default Legs
                .row
                  .col-xs-4
                    button(type="button").btn.btn-default Shit
                  .col-xs-4
                    button(type="button").btn.btn-default You
                  .col-xs-4
                    button(type="button").btn.btn-default Head
                .row
                  .col-xs-4
                    button(type="button").btn.btn-warning Clear
                  .col-xs-4
                    button(type="button").btn.btn-default Mother
                  .col-xs-4
                    button(type="button").btn.btn-primary Enter

append scripts
  script(src="https://code.responsivevoice.org/responsivevoice.js")
  script.
    $(function() {
      $('button').click(function() {

        var buttonText = this.innerHTML
        var input = $('input[name=gtfo]')

        switch(buttonText) {
        case 'Enter':
          submitCode(input.val());
          break
        case 'Clear':
          input.val('')
          break
        default:
          var oldText = input.val()
          var newText = $.trim(oldText + " " + this.innerHTML)

          input.val(newText)
          break
        }

      });
    });

    function submitCode(code) {

      if (!code) {
        return;
      }

      var input = $('input[name=gtfo]')

      $.post('/login/keycode', { code: code }, function(result) {

      var colour = result.isCorrect ? "4cae4c" : "d9534f"

        input.css('background-color', '#' + colour);

        responsiveVoice.speak(code, 'UK English Female', {
          onend: function() {

          if (result.isCorrect) {
            $('.key-pad').hide()
            $('.serious-login').show()
          }

          input.css('background-color', 'white');

          }
        });
      })

    }
