extends layout
block content

  div.panel.panel-default(class=failedAttempt ? "panel-danger" : "")
    div.panel-heading
      h3.panel-title Login
    div.panel-body

      form(action="/login", method="post", role="form")
        .form-group
          label(for="username") Username
          input.form-control(type="text", name="username", placeholder="Username")

        .form-group
          label(for="password") Password
          input.form-control(type="password", name="password", placeholder="Password")

        button.btn.btn-default(type="submit") Login
