//
  .
  .____           __                     __      __.__.__       .___
  |    |    __ __|  | _______    ______ /  \    /  \__|  |    __| _/____    ______
  |    |   |  |  \  |/ /\__  \  /  ___/ \   \/\/   /  |  |   / __ |\__  \  /  ___/
  |    |___|  |  /    <  / __ \_\___ \   \        /|  |  |__/ /_/ | / __ \_\___ \
  |_______ \____/|__|_ \(____  /____  >   \__/\  / |__|____/\____ |(____  /____  >
          \/          \/     \/     \/         \/                \/     \/     \/

  Welcome to the raw side of the source.

  Assuming you haven't just fudged the view source shortcut, perhaps you're after
  some insight into how I've done something here? If so, you might like to know
  that the source for this site is available at:

  https://github.com/lukewilde/website

  If you have a question about the underhood of any of my workings, feel free to
  pester me directly.

  @lukewilde

  .
