.gallery.splash

  position relative

  div
    position absolute
    width 40%
    height 100%
    top 0

    background-repeat no-repeat
    background-position-y 50%

    &.prev
      position absolute
      background-position-x 0
      left 0

    &.next
      position absolute
      background-position-x 100%
      right 0

    &.prev:hover
      background-image url('/images/prev.png')

    &.next:hover
      right 0
      background-image url('/images/next.png')