.gallery

  text-align center

  img
    height 229px
    min-width 70px
    padding 2px 4px
    background-image url('/images/loader.gif')
    background-position center
    background-repeat no-repeat

  a
    display inline-block

  a:hover
    opacity 0.8