/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

@font-face
  font-family 'EB Garamond'
  font-style normal

a
  color #692323
  text-decoration none

a:active
  color #692323

a:link
  color #692323
  text-decoration none

a:visited
  color #692323
  text-decoration none

a:focus
  color #692323
  text-decoration none

a:hover
  color #692323
  text-decoration underline

body
  color #676565
  font-family 'EB Garamond', serif
  padding-top 50px
  margin 0

h1
  font-size 37px
  font-weight 100
  text-transform uppercase
  letter-spacing:19px
  margin-left 19px

h2
  font-size 18px
  font-weight 100
  letter-spacing:0.35em

h3
  font-size 16px
  font-weight 100
  letter-spacing:0.35em

img
  margin 30px 0

html
  text-align:center