@font-face
  font-family 'EB Garamond'
  font-style normal

a
  color #692323
  text-decoration none
  display inline

a:active
  color #676565

a:link
  color #676565
  text-decoration none

a:visited
  color #676565
  text-decoration none

a:focus
  color #676565
  text-decoration none

a:hover
  color #692323
  text-decoration none

body
  color #676565
  font-family 'EB Garamond', serif
  font-size 16px

  padding 10px 20px

strong
  font-weight 800

h1
  font-size 37px
  font-weight 100
  text-transform uppercase
  letter-spacing:19px
  margin 40px 0 0 0

h2
  color #692323
  font-size 18px
  font-weight 100
  letter-spacing:0.15em
  margin 40px 0 20px 0

h3
  font-size 16px
  font-weight 100
  letter-spacing:0.35em

.preload
  width 0
  height 0

ul.social-media
  float right

  li
    display inline
    list-style-type none

    a
      width 19px
      height 19px
      display block
      float left
      margin-left 3px

    a.behance
      background-image url('/images/social/behance.png')
      &:hover
        background-image url('/images/social/behance-hover.png')

    a.instagram
      background-image url('/images/social/instagram.png')
      &:hover
        background-image url('/images/social/instagram-hover.png')

    a.pinterest
      background-image url('/images/social/pinterest.png')
      &:hover
        background-image url('/images/social/pinterest-hover.png')

    a.twitter
      background-image url('/images/social/twitter.png')
      &:hover
        background-image url('/images/social/twitter-hover.png')

hr
  border none
  border-top 1px solid #ddd
  margin-bottom 10px
  width 60%

hr.padded
  margin-top 68px

.footer
  width 60%
  margin 0 auto 20px auto
