@font-face
  font-family 'EB Garamond'
  font-style normal

a
  color #692323
  text-decoration none
  display inline

a:active
  color #676565

a:link
  color #676565
  text-decoration none

a:visited
  color #676565
  text-decoration none

a:focus
  color #676565
  text-decoration none

a:hover
  color #692323
  text-decoration none

body
  color #676565
  font-family 'EB Garamond', serif
  font-size 16px

  padding 10px 20px

strong
  font-weight 800

h1
  font-size 37px
  font-weight 100
  text-transform uppercase
  letter-spacing:19px
  margin 40px 0 0 0

h2
  color #692323
  font-size 18px
  font-weight 100
  letter-spacing:0.15em
  margin 40px 0 20px 0

h3
  font-size 16px
  font-weight 100
  letter-spacing:0.35em

.preload
  width 0
  height 0

ul.social-media
  float right

  li
    display inline
    list-style-type none

    a
      background-image url('/images/social-media.png')
      width 22px
      height 21px
      display block
      float left

    a.behance
      background-position 0px 0px
      &:hover
        background-position 0px -21px

    a.instagram
      background-position -23px 0px
      &:hover
        background-position -23px -21px

    a.pinterest
      background-position -48px 0px
      &:hover
        background-position -48px -21px

    a.twitter
      background-position -72px 0px
      &:hover
        background-position -72px -21px

hr
  border none
  border-top 1px solid #ddd
  margin-bottom 10px

#footer
  hr
    margin-top 68px
