//
// INDEX STYLESHEET
// ================
// All Stylus imports should live in here.
//


//
// SETUP
//

@import 'nib'


//
// NIB PROVIDES A CSS RESET
//
global-reset()


//
// PAGES
//

@import 'global.styl'
@import 'navigation.styl'
@import 'gallery.styl'
@import 'splash.styl'
@import 'lightbox.css'
