.header
  margin-bottom 40px
  text-align center

  ul
    color #676565
    span
      padding 0 5px

    li
      display inline
      list-style-type none

.sub-navigation

  padding-bottom 30px
  ul
    li
      display inline
      padding-right 15px

  a:active
    color #692323

  a:link
    color #692323
    text-decoration none

  a:visited
    color #692323
    text-decoration none

  a:focus
    color #692323
    text-decoration none

  a:hover
    color #692323
    text-decoration underline

  ul
    li
      margin-bottom 20px