extends layout

block content
  
  h2 Education
  p 
    strong 2010 - 2013 
    | BA (Hons) Photography, Arts University Bournemouth

  h2 Exhibitions
  p 
    strong 2013 July 11th - 14th 
    | Fleece - BA (Hons) Photography Graduate Show Bargehouse, Southbank, London, UK

  h2 Contact
  p
    a(href='mailto:isabelle.smillie@gmail.co.uk') isabelle.smillie@gmail.co.uk