//
  -
  .___                          _________       .__.__  .__  .__
  |   |__________________.__.  /   _____/ _____ |__|  | |  | |__| ____
  |   \___   /\___   <   |  |  \_____  \ /     \|  |  | |  | |  |/ __ \
  |   |/    /  /    / \___  |  /        \  Y Y  \  |  |_|  |_|  \  ___/
  |___/_____ \/_____ \/ ____| /_______  /__|_|  /__|____/____/__|\___  >
            \/      \/\/              \/      \/                     \/

  Greetings source code checkers.
  -
