//
  -
  .____           __                     __      __.__.__       .___
  |    |    __ __|  | _______    ______ /  \    /  \__|  |    __| _/____    ______
  |    |   |  |  \  |/ /\__  \  /  ___/ \   \/\/   /  |  |   / __ |\__  \  /  ___/
  |    |___|  |  /    <  / __ \_\___ \   \        /|  |  |__/ /_/ | / __ \_\___ \
  |_______ \____/|__|_ \(____  /____  >   \__/\  / |__|____/\____ |(____  /____  >
          \/          \/     \/     \/         \/                \/     \/     \/

  Welcome to the raw side of the source.
  -
