extends layout
block content
  .sub-navigation
    ul
      li
        a(href='/gallery/portrait') Portrait
      li
        a(href='/gallery/lifestyle') Lifestyle
      li
        a(href='/gallery/travel') Travel
  .gallery
    each image in images
      a(href=image.src)
        img(src=image.src, alt=image.name)