extends layout

block sub-nav
  include bits/sub-nav.jade

block content

  .gallery.splash

      img(src=image.big, alt=image)

      if (next)
        a(href=next.viewUrl)
          div.next

      if (prev)
        a(href=prev.viewUrl)
          div.prev

append script
  include bits/splash-centering
