extends layout
block content
  .sub-navigation
    ul
      li
        a(href='#portrait') Portrait
      li
        a(href='#lifestyle') Lifestyle
      li
        a(href='#travel') Travel
  .gallery
    each section, index in sections
      - var visible = (index === 0) ? '' : 'display:none'
      - console.log(visible)
      .section(data-section=section.name, style=visible)
        each image in section.images
          a(href='/images/' + image.src)
            img(src='/images/' + image.src, alt=image.name, data-id=image.slug)