extends layout
block content
  .sub-navigation
    ul
      li
        a(href='#portrait') Portrait
      li
        a(href='#lifestyle') Lifestyle
      li
        a(href='#travel') Travel
  .gallery
    each image in images
      a(href='/images/' + image.src)
        img(src='/images/' + image.src, alt=image.name, data-id=image.slug)