extends layout

block sub-nav
  include bits/sub-nav.jade

block content
  .gallery
    each image in images
      a(href='/gallery/' + type + '/' + image.name)
        img(src=image.src, alt=image.name)