extends layout
block content
  .sub-navigation
    ul
      li
        a(href='#portrait') Portrait
      li
        a(href='#lifestyle') Lifestyle
      li
        a(href='#travel') Travel
  .gallery
    each image, index in images
      img(src='images/' + image.src, alt=image.name, data-id=index)