!!!5
html
  head
    title Isabelle Smillie
    img.preload(src='/images/loader.gif', alt='loader', style='visibility: hidden ')
    link(rel='stylesheet', href='/css/index.css')
  body
    block ding
      .header
        h1
          a(href='/') Isabelle Smillie
        hr
        ul
          li
            a(href='/gallery/portrait') Gallery
            span |
          //- li
          //-   a(href='/projects') Projects
          //-   span |
          li
            a(href='/about') About
        block sub-nav

    block content

    block footer
      hr.padded

      .footer

        span &copy; 
          strong Isabelle Smillie. 
          | All rights reserved

        ul.social-media
          li
            a.behance(href="http://www.google.com")
          li
            a.instagram(href="http://www.google.com")
          li
            a.pinterest(href="http://www.google.com")
          li
            a.twitter(href="http://www.google.com")

  block script
    script(src='/js/lib/jquery-1.9.1.js')

    include bits/ga.jade
