!!!5
html
  head
    title Isabelle Smillie
    img(src='/images/loader.gif', alt='loader', style='visibility: hidden ')
    link(rel='stylesheet', href='/css/global.css')
  body
    block navigation
      .navigation
        h1 
          a(href='/') Isabelle Smillie
        ul
          li
            a(href='/gallery') Gallery
            span |
          //- li
          //-   a(href='/projects') Projects
          //-   span |
          li
            a(href='/about') About

    block content

  block script
    script(src='/js/lib/jquery-1.9.1.js')

    include bits/ga.jade