.sub-navigation
  ul
    li
      a(href='/gallery/portrait', class= type === 'portrait' ? 'active' : '') Portrait
      span |
    li
      a(href='/gallery/lifestyle', class= type === 'lifestyle' ? 'active' : '') Lifestyle
      span |
    li
      a(href='/gallery/travel', class= type === 'travel' ? 'active' : '') Travel