doctype
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/admin/index.css')

    title Luke Wilde | CMS

  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href='#') Lukas Wildas CMS

        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Dashboard
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='/admin/article') Articles
            li
              a(href='/admin/article/new') > New Article

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Dashboard
          block content

    block script
      script(src="/js/lib/jquery-2.1.1.min.js")
      script(src="/js/lib/bootstrap.min.js")
