doctype
html
  include bits/ascii
  head
    title Luke Wilde - Admin
    link(rel='stylesheet', href='/css/index.css')
  body.admin

    div.container
      div.blog-header
        h1.blog-title Luke Wilde
        p.lead.blog-description The official example template of creating a blog with Bootstrap.
      ul
        li
          a(href='/blog') Blog
          span |
        li
          a(href='/portfolio') Portfolio
          span |
        li
          a(href='/labs') Labs
      block sub-nav

      div.row
        div.col-sm-8.blog-main
          block content

        div.col-sm-3.col-sm-offset-1.blog-sidebar
          block side-bar
            div.sidebar-module.sidebar-module-inset
              h4 Widget
              p Malesuada a lacinia sit amet, dapibus in odio. Quisque blandit ligula a mauris auctor, vitae elementum diam rhoncus. Suspendisse venenatis nisl molestie, fermentum sem me.

            div.sidebar-module
              h4 List of stuff
              ol
                li January 2014
                li December 2013
                li November 2013
                li October 2013
                li September 2013
                li August 2013
                li July 2013

    block footer

      .blog-footer

        span &copy;
          strong Luke Wilde.
          |  All rights reserved

        ul.contact
          li
            a.twitter(href="https://twitter.com/lukewilde")
              strong Twitter
          li
            a.email(mailto="luke.wilde@gmail.com")
              strong Email
          li
            a.cv(href="http://lukewilde.co.uk/rss")
              strong CV
          li
            a.rss(href="http://lukewilde.co.uk/cv")
              strong RSS

  block script
    script(src='/js/lib/jquery-1.9.1.js')

    include bits/ga.jade
