body
  font-family Helvetica, Arial, sans-serif

  li, a, p, span, h1, h2, h3, h4
    transform scale(1, 0.95)
    letter-spacing 2.3px

h1, h2, h3, h4, .navbar-nav, p.date
  text-transform uppercase

h1.blog-title
  font-size 25px

.lead h2
  text-shadow -5px 4px 9px #CCCACA
  font-size 38px
  padding 0 20px
  color gray
  line-height 1.4
  margin-bottom 0

.navbar-nav li
  font-size 18px

.blog-footer
  font-size 16px
