.blog-footer

  padding 40px 40px 20px 40px
  text-align left
  background-color #f5f5f5

  .col-sm-4
    text-align left
    border-right 1px solid #C9C9C9
    height 195px
    margin-bottom 15px
    padding 0 60px

  @media (max-width: 992px)
    padding 40px 0 20px 0

    .row
      margin-bottom 20px

  @media (min-width: 768px)

    .col-sm-4.greetings
      padding 0 30px

  @media (max-width: 768px)

    padding 10px
    padding-bottom 20px

    .col-sm-4
      padding 15px 10px
      border-right none
      height auto
      margin-bottom 10px

    .col-sm-4.greetings
      margin-bottom 20px
      padding-right 10px

    .col-xs-6
      margin-bottom 0px
      padding-bottom 0px

  .col-sm-4:last-child
    border-right none

  h3, p
    color gray

  h3
    text-transform uppercase
    margin-bottom 26px
    font-size 20px

  ul
    padding-left 0

  li
    list-style-type none
    margin-bottom 11px

  a
    padding-left 26px
    background-repeat no-repeat
    color gray
    cursor pointer

  a:hover
    color darkgray
    text-decoration none

  a.linkedin
    background-image url('/images/social/linked-in.png')

  a.linkedin:hover
    background-image url('/images/social/linked-in-over.png')

  a.twitter
    background-image url('/images/social/twitter.png')

  a.twitter:hover
    background-image url('/images/social/twitter-over.png')

  a.email
    background-image url('/images/social/email.png')

  a.email:hover
    background-image url('/images/social/email-over.png')

  a.github
    background-image url('/images/social/github.png')

  a.github:hover
    background-image url('/images/social/github-over.png')

  a.cv
    background-image url('/images/social/cv.png')

  a.cv:hover
    background-image url('/images/social/cv-over.png')

  a.rss
    background-image url('/images/social/rss.png')

  a.rss:hover
    background-image url('/images/social/rss-over.png')

  small
    display block
    text-align center
    font-size 12px

.footer-svg
  margin-top 30px
