.blog-footer

  margin 0 -100% 0 -100%
  padding 40px 100%

  .col-sm-4
    text-align left
    border-right 1px solid #C9C9C9
    height 130px

  .col-sm-4:last-child
    border-right none

  h3, p
    color gray

  h3
    text-transform uppercase
    text-align center

  li
    list-style-type none
