.blog-footer

  padding 40px
  text-align left
  background-color #f5f5f5

  .col-sm-4
    text-align left
    border-right 1px solid #C9C9C9
    height 205px
    margin-bottom 15px
    padding 0 60px

  .col-sm-4:last-child
    border-right none

  h3, p
    color gray

  h3
    text-transform uppercase
    margin-bottom 26px
    font-size 20px

  ul
    padding-left 0

  li
    list-style-type none
    margin-bottom 11px

  a
    padding-left 26px
    background-image url('/images/linked-in.png')
    background-repeat no-repeat
    color gray
    cursor pointer

  a:hover
    color darkgray
    background-image url('/images/linked-in-over.png')
    text-decoration none

  .disclaimer
    text-align center
    font-size 12px
