.container
  margin-top 19px

.header-title, .header-title h1.blog-title a
  padding-left 0

h1.blog-title
  font-size 25px
  margin-top 44px

.navbar-nav
  float right
  margin 0
  padding-top 21px

  li
    float left
    margin-top 28px
    font-size 22px

h1.blog-title, .navbar-nav li

  a
    color gray
    padding 0 0 0 55px

  a:hover
    text-decoration none
    background-color transparent
    color darkgray

.lead

  text-shadow -5px 4px 9px #E2E2E2

  margin 19px -100% 0 -100%
  padding 40px 100%

  background-color #f5f5f5
  color gray
  text-align center
  font-size 40px
  font-weight 200
