header
  margin 19px 0

.header-title

  img
    float left
    box-shadow 0 10px 23px -18px rgba(0, 0, 0, 5)

  h1
    float left
    padding-left 22px

.blog-title
  margin-top 35px

  span
    display block
    font-size 11.1px

.navbar-nav
  float right
  margin 0
  padding-top 7px

  li
    float left
    margin-top 28px

h1.blog-title, .navbar-nav li

  a
    color gray

  a:hover
    text-decoration none
    background-color transparent
    color darkgray

.title-container
  margin -53px 0 10px 0

.lead
  padding 19px 0 5px 0
  margin-bottom 0
  background-color #f5f5f5
  text-align center

  h2
    padding 19px 60px

    @media (max-width: 660px)
      padding 19px

  @media (max-width: 768px)
    padding 0

.lead-svg
  margin-bottom 30px

@media (max-width: 660px)
  .header-title
    text-align center

    img.logo
      float none
      width 70px
      height 70px
      box-shadow 0 8px 27px -18px #000

    h1
      float none
      padding 0
      margin-top 15px

  .nav-container
    display table
    margin 0 auto

    ul
      li
        margin-top 0

        a
          padding 10px 26px

  .title-container
    margin -16px 0 10px 0
