.container
  margin-top 19px

h1.blog-title
  font-size 25px
  letter-spacing 2px
  margin-top 38px

  a
    color gray

  a:hover
    text-decoration none

.navbar-nav
  float right
  margin 0

  li
    float left
    font-size 20px
    letter-spacing 2px
    margin-top 28px

.lead.blog-description

  margin 19px -100% 0 -100%
  padding 40px 100%

  background-color #F8F7F7
  text-align center
  font-size 40px
  font-weight 200
  letter-spacing 2px
