.splash
  position relative

  img
    width 100%
    margin-bottom 30px

  p.label

    position absolute
    top 56px

    padding 15px 18px
    border-radius 0 6px 6px 0

    font-size 18px
    font-weight 100

    background-color orange

.blog-stubs

  .col-sm-6
    padding 0
    margin 10px 0

    a.title
      padding-left 0
      display block
      color green
      letter-spacing 1.2px
      font-size 18px

    a.title:hover
      color darkgreen
      text-decoration none

    @media (min-width: @screen-sm-min)
      .col-sm-6
        margin-bottom 10px

  p.date
    text-align center
    color orange
    font-size 20px

    span
      display block
      color gray
      line-height 6px
      font-size 16px
