extends ../layout

block lead
  h2.lead.blog-description My Lovely Portfolio

block content

    h2 Games

    ul.portfolio

      for item in items
        li
          img(src=item.smallImage, title=item.headline)
