extends ../layout

mixin portfolioItem(item)

  a(href='/portfolio/' + item.slug)
    img(src=item.smallImage, title=item.headline)
    .hover-info
      p.label #{item.client}: #{item.headline}

block lead
  h2.lead.blog-description My Lovely Portfolio

block content

  .portfolio

    h2 Games

    ul

      for item in items
        li
          mixin portfolioItem(item)

    h2 Web

    ul

      for item in items
        li
          mixin portfolioItem(item)
      for item in items
        li
          mixin portfolioItem(item)
