extends layout
block content
  div.blog-post
    h2.blog-post-title Well Good post
    p.blog-post-meta December 14, 2013
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem ipsum, malesuada a lacinia sit amet, dapibus in odio. Quisque blandit ligula a mauris auctor, vitae elementum diam rhoncus. Suspendisse venenatis nisl molestie, fermentum sem et, bibendum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vulputate dolor mi, id porta eros tempus viverra. Cras et consequat sem. Fusce vulputate lacinia ipsum sed dapibus. Quisque sollicitudin quis diam elementum faucibus. Morbi suscipit pharetra vulputate. In turpis nisl, elementum vel lacus nec, aliquam fringilla nisi. Sed blandit purus sed orci sagittis, non blandit ante condimentum. Donec tincidunt orci ac velit porttitor molestie. Nam tempus malesuada dui nec ultricies.

append script
