doctype
html
  include bits/ascii
  head
    title Luke Wilde
    link(rel='stylesheet', href='/css/index.css')
  body
    block ding
      .header
        h1
          a(href='/') Luke Wilde
        ul
          li
            a(href='/blog') Blog
            span |
          li
            a(href='/portfolio') Portfolio
            span |
          li
            a(href='/labs') Labs
        block sub-nav

    block content

    block footer

      .footer

        span &copy;
          strong Luke Wilde.
          |  All rights reserved

        ul.contact
          li
            a.twitter(href="https://twitter.com/lukewilde")
              strong Twitter
          li
            a.email(mailto="luke.wilde@gmail.com")
              strong Email
          li
            a.cv(href="http://lukewilde.co.uk/rss")
              strong CV
          li
            a.rss(href="http://lukewilde.co.uk/cv")
              strong RSS

  block script
    script(src='/js/lib/jquery-1.9.1.js')

    include bits/ga.jade
